body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.container{
  margin: auto;
  height: 500px;
  width: 50%;
}

.ct{
  background-color: darkblue;
  color: azure;
  width: 45%;
  height: 50px;
  margin: auto;
  border-radius: 5px;
}

.ct p{
  font-size: 35px;
}

button{
  padding: 8px 26px;
  border-radius: 5px;
  margin-right: 15px;
  font-weight: bold;
  margin-top: 55px;
}
